.center{
	margin:auto;
	text-align:center;
}
.panel,.datagrid-cell{
	text-align: center !important;
}

.submit_btn{
	width:50px;
	background-color:#f8ac59;
	color: #ffffff;
}
.reset_btn{
	width:50px;
	background-color:#1ab394;
	color: #ffffff;
}
#side-menu .active  ul{
	display:block;
}
#side-menu  ul{
	display:none;
}
.w1{
  width:100px;	
}
.w2{
  width:200px;	
}
.w3{
  width:300px;	
}

.h_1{
	height:40px;
}
.h_2{
    height:80px;
}
.h_3{
    height:100px;
}

.h_500{
    height:500px;
}
.left{
	float:left;
}
.top_dash{
	border-top: 1px dashed;
}
.pad_btm_1{
	padding-top: 30px;
}
.pad_top_1{
    padding-top: 30px;
}
.margin_top_{
	margin-top:10px;
}
#case{
	 color:black;
	 font-size: 12px;
}
.f-s-2{
	font-size:14px;
}
#case_title{
	 height:40px;
}
#t_head{
	width:600px;
	position:relative;
	margin: auto;
}
