<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.1.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.1.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.1.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.1.xsd ">

    <!-- 加载配置文件 -->
    <context:property-placeholder location="classpath*:*.properties" />

 <!--    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="ehcache"></property>
    </bean>
 -->
 <!--    <bean id="ehcacheFactory" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:ehcache.xml"></property>
    </bean>  -->



    <bean id="connectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <property name="hostName"   value="${redis.ip}" />
        <property name="port"       value="${redis.port}" />
        <property name="poolConfig" ref="jedisPoolConfig" />
        <!-- <property name="shardInfo"  ref="jedisShardInfo1"></property> -->
    </bean>
    <!--redis配置结束-->

	<!-- 数据源，使用dbcp -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="maxActive" value="10" />
		<property name="maxIdle" value="5" />
	</bean>


	<!-- sqlSessinFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 加载mybatis的配置文件 -->
		<property name="configLocation" value="classpath:mybatis-config.xml" /> 
		<!-- 数据源 -->
		<property name="dataSource" ref="dataSource" /> 
	</bean>
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- 数据源 -->
        <property name="dataSource" ref="dataSource" />
    </bean>
	<tx:annotation-driven transaction-manager="transactionManager"  />
        <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
           <tx:method name="insert*" propagation="REQUIRED" />
            <tx:method name="*" propagation="REQUIRED" />
        </tx:attributes>
    </tx:advice>
   
    <aop:config>
         <aop:pointcut expression="execution(* com.lihong.service.*.*(..))"
            id="txPointcut"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut"/>                 
    <!-- <aop:aspect id="b" ref="log">  
          
           <aop:before method="log" pointcut-ref="txPointcut" />
            <aop:after method="logArg" pointcut-ref="txPointcut"/> 
            <aop:after-throwing method="failure" pointcut-ref="txPointcut"/>
             <aop:after-returning method="logArgAndReturn" returning="returnObj" pointcut-ref="txPointcut"/> 
        </aop:aspect>  -->
            
    </aop:config>
	
	<import resource="classpath:spring/spring-netty.xml"/>
    <import resource="classpath:spring/spring-quartz1.xml"/>
    <import resource="classpath:spring/spring-redis.xml"/>
    <import resource="classpath:spring/spring-validator.xml"/>
    
	<import resource="classpath:spring/dao/*"/>
	<import resource="classpath:spring/service/*"/>
	<import resource="classpath:spring/action/*"/>

	


	<bean class="com.lihong.common.util.JedisUtil"></bean>  
	
</beans>